@media (max-width: 1165px) {
    body {
        .header {

            &_page {

                &--content {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    align-items: flex-start;
                }
            }
        }

        .footer {

            &_page {
                display: flex;
                flex-direction: column;
                max-width: 603px;
                width: 100%;
                margin: 0 auto;
                align-items: center;

                &--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &--content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &--wrap {
                            flex-direction: column;
                            display: flex;
                            align-items: center;
                            row-gap: 20px;
                        }
                    }
                }

                &--div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-bottom: 60px;
                }
            }
        }
    }

    main {

        .solution {

            &--modal {

                &--content {

                    &--form {

                        &--textarea {
                            width: 370px;
                        }

                        &--wrap {
                            width: 370px;
                        }
                    }
                }
            }


            &_container {
                background-image: url(./img_index/solution-bg2);
                max-width: 360px;
                width: 100%;
                margin: 0 auto;

                &--title {
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 26px;
                    color: #fff;
                    line-height: 42px;
                    letter-spacing: 6%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

        }

        .client {
            max-width: 738px;
            width: 100%;
            margin: 0 auto;

            &_page {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }
        }

        .info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            max-width: 738px;
            width: 100%;
            margin: 0 auto;

            &_card {
                max-width: 100%;

                &--content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F5F4FA;

                    &--text {
                        max-width: 354px;
                    }
                }
            }
        }

        .whatWeDo {
            display: none;
        }

        .team {
            &_content {
                max-width: 738px;
                width: 100%;
                margin: 0 auto;

                &--container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;


                    &--card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 354px;

                        &--img {
                            width: 354px;
                            height: 354px;
                        }
                    }
                }
            }
        }

        .ourproject {
            max-width: 738px;
            width: 100%;
            margin: 0 auto;

            &_container {
                display: grid;
                grid-template-columns: 1fr 1fr;

            }
        }


    }
}

@media (max-width: 750px) {
    main {
        .ourproject {
            max-width: 450px;
            width: 100%;
            margin: 0 auto;

            &_content {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 8px;
                row-gap: 15px;
                width: 100%;
                max-width: 326px;
            }

            &_container {
                display: grid;
                grid-template-columns: 1fr;

            }
        }

        .client {
            max-width: 450px;
            width: 100%;
            margin: 0 auto;

            &_page {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }

        .solution {
            &_container {
                background-image: url(./img_index/solution-bg3);
                background-size: cover;
                background-repeat: no-repeat;

                &--title {
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 26px;
                    color: #fff;
                    line-height: 42px;
                    letter-spacing: 6%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .info {
            grid-template-columns: 1fr;
            max-width: 450px;
            width: 100%;
            margin: 0 auto;
        }

        .team {

            &_content {
                max-width: 450px;
                width: 100%;
                margin: 0 auto;

                &--container {
                    display: grid;
                    grid-template-columns: 1fr;


                    &--card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 450px;

                        &--img {
                            width: 450px;
                            height: 450px;
                        }
                    }
                }
            }
        }
    }

    body {

        .header {

            &_page {

                &--container {
                    display: none;
                }

                &--content {
                    display: none;
                }

                &--burger {
                    display: block;
                }
            }
        }

        .footer {

            &_page {
                display: flex;
                flex-direction: column;
                max-width: 450px;
                width: 100%;
                margin: 0 auto;
                align-items: center;

                &--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &--content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &--wrap {
                            flex-direction: column;
                            display: flex;
                            align-items: center;
                            row-gap: 20px;
                        }
                    }
                }

                &--div {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 60px;
                }
            }
        }
    }

}