@media (max-width: 1165px) {
    body {
        .header {

            &_page {

                &--content {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    align-items: flex-start;
                }
            }
        }
    }

    main {
        .solution {
            &_page {
                background-image: url(./img_index/solution-bg2);
                background-repeat: no-repeat;
                background-size: cover;
            }

        }

        .info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            &_card {
                max-width: 100%;

                &--content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F5F4FA;

                    &--text {
                        max-width: 354px;
                    }
                }
            }
        }

        .whatWeDo {
            display: none;
        }


    }
}

@media (max-width: 680px) {
    main {
        .solution {
            background-image: url(./img_index/solution-bg3);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .info {
            grid-template-columns: 1fr;
        }
    }

    body {

        .header {

            &_page {

                &--container {
                    display: none;
                }

                &--content {
                    display: none;
                }

                &--burger {
                    display: block;
                }
            }
        }
    }

}