.footer {
    background: #2F303A;


    &_page {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;

        &--div {
            display: flex;
            justify-content: space-between;
            max-width: 507px;
            width: 100%;
        }

        &--content {


            &--form {

                &--label {
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-transform: uppercase;
                }

                &--wrap {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;


                    &--btn {
                        font-family: Roboto;
                        font-weight: 700;
                        font-size: 16px;
                        color: #FFFFFF;
                        background: #2196F3;
                        box-shadow: 0px 4px 4px 0px #00000026;
                        line-height: 30px;
                        letter-spacing: 6%;
                        border: none;
                        text-align: center;
                        vertical-align: middle;
                        padding: 10px;
                        padding-left: 28px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    &--img {
                        padding-right: 28px;
                    }

                    &--input {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 16px;
                        color: #FFFFFF99;
                        padding: 14px 0;
                        line-height: 20px;
                        letter-spacing: 3%;
                        background: #2F303A;
                        box-shadow: 0px 4px 4px 0px #00000026;
                        border: 1px solid #FFFFFF4D;
                        padding-left: 16px;
                        padding-right: 165px;
                        border-radius: 4px;
                        outline: none;
                        vertical-align: middle;
                        margin-right: 12px;
                    }
                }
            }
        }

        &--container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &--adress {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF60;
                text-decoration: none;
            }

            &--info {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #FFFFFF;
                text-decoration: none;
                padding-top: 20px;
            }

            &--content {


                &--wrap {
                    gap: 10px;

                    &--svg {
                        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill-opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

                        &:hover {
                            fill: #2196F3;
                            fill-opacity: 1;
                        }
                    }
                }

                &--title {
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }
    }
}