.header {
    border: 1px solid #ECECEC;

    &--svg {
        margin-right: 10px;

        &--path {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                fill: #2196F3;
            }
        }
    }

    &_page {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;

        &--container {
            width: 100%;
            max-width: 520px;
            display: flex;
            justify-content: space-between;

            &--nav {
                width: 100%;
                max-width: 281px;
                display: flex;
                justify-content: space-between;

                &--link {
                    text-decoration: none;
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    color: #212121;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover {
                        color: #2196F3;
                        border-bottom: 4px #2196F3 solid;
                        border-radius: 2px;
                    }
                }
            }
        }

        &--content {
            width: 100%;
            max-width: 333px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--wrap {
                display: flex;
                align-items: center;

                &--info {
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    color: #757575;
                    text-decoration: none;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover {
                        color: #2196F3;
                    }
                    
                }
            }
        }
    }
}