.header {
    border: 1px solid #ECECEC;

    &--svg {
        margin-right: 10px;

        &--path {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                fill: #2196F3;
            }
        }
    }

    &_page {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        padding-top: 25px;
        padding-bottom: 25px;

        &--container {
            width: 100%;
            max-width: 520px;
            display: flex;
            justify-content: space-between;

            &--nav {
                width: 100%;
                max-width: 281px;
                display: flex;
                justify-content: space-between;

                &--link {
                    text-decoration: none;
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    color: #212121;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover {
                        color: #2196F3;
                        border-bottom: 4px #2196F3 solid;
                        border-radius: 2px;
                    }
                }
            }
        }

        &--content {
            width: 100%;
            max-width: 333px;
            display: flex;
            align-items: center;
            justify-content: space-between;


            &--wrap {
                display: flex;
                align-items: center;

                &--info {
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    color: #757575;
                    text-decoration: none;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover {
                        color: #2196F3;
                    }

                }
            }
        }

        &--burger {
            display: none;
            width: 30px;
            cursor: pointer;
            position: relative;
            z-index: 100;

            span {
                display: block;
                height: 3px;
                margin: 6px 0;
                background: #000;
                transition: 0.4s;
            }

            &.active {
                span:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 6px);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }

        &--menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 250px;
            height: 100vh;
            background: #222;
            transition: 0.4s;
            padding-top: 80px;

            &.active {
                right: 0;
            }


                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 18px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
