.solution {
    background: #2F303A;
    background-image: url(./img_index/img11.png);
    background-repeat: no-repeat;
    background-size: cover;

    &_container {

        &--btn {
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            background: #2196F3;
            padding: 10px 32px;
            margin-top: 30px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
    }




    &--modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        z-index: 1;

        &_container {


            &--btn {
                font-family: Roboto;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 6%;
                text-align: center;
                vertical-align: middle;
                color: #FFFFFF;
                background: #2196F3;
                padding: 10px 32px;
                margin-top: 30px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
            }
        }

        &--content {
            background: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            text-align: center;
            position: relative;

            &--title {
                font-family: Roboto;
                font-weight: 700;
                font-size: 20px;
                color: #212121;
                line-height: 100%;
                letter-spacing: 3%;
                text-align: center;
            }

            &--form {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: center;

                &--label {
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 3%;
                    color: #757575;
                    margin-bottom: 4px;
                    margin-top: 10px;
                }

                &--wrap {
                    width: 448px;
                    height: 40px;
                    border: 1px solid #21212133;
                    display: flex;
                    align-items: center;

                    &--svg {
                        margin-left: 15px;
                        margin-right: 15px;

                        &--path {
                            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);



                        }
                    }

                    &--input {
                        outline: none;
                        border: none;
                    }
                }

                &--btn {
                    box-shadow: 0px 4px 4px 0px #00000026;
                    background: #2196F3;
                    font-family: Roboto;
                    font-weight: 700;
                    font-size: 16px;
                    color: #FFFFFF;
                    line-height: 30px;
                    letter-spacing: 6%;
                    text-align: center;
                    padding: 10px 52px;
                    border: none;
                }

                &--checkbox {
                    font-family: Roboto;
                    font-weight: 400px;
                    font-size: 14px;
                    color: #757575;
                    line-height: 24px;
                    letter-spacing: 3%;
                    margin-top: 20px;
                    margin-bottom: 30px;

                    &--link {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 14px;
                        color: #2196F3;
                        line-height: 24px;
                        letter-spacing: 3%;
                        text-decoration: underline;
                        text-decoration-style: solid;
                        text-decoration-thickness: 0%;
                    }
                }

                &--textarea {
                    width: 448px;
                    height: 120px;
                    padding-top: 12px;
                    outline: none;
                    padding-left: 16px;
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 12px;
                    color: #75757580;
                    line-height: 100%;
                    letter-spacing: 1%;
                    border: 1px solid #21212133
                }
            }


            &--close {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }

    &_container {
        max-width: 696px;
        width: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;

        &--title {
            font-family: Roboto;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 6%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.solution--modal--content--form--wrap:hover .solution--modal--content--form--wrap--svg--path {
    fill: #2196F3;

}

.info {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    &_card {
        margin-top: 94px;
        margin-bottom: 94px;
        max-width: 270px;
        width: 100%;

        &--content {
            padding: 25px 100px;
            background: #F5F4FA;
            border-radius: 4px;
            margin-bottom: 30px;
        }

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-transform: uppercase;
            color: #212121;
        }

        &--text {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            color: #757575;
            margin-top: 10px;
        }
    }
}

.whatWeDo {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    &_content {
        display: flex;
        justify-content: space-between;

        &--wrap {
            position: relative;
            z-index: 0;

            &--content {
                background: #2F303ACC;
                position: absolute;
                top: 225px;
                width: 370px;

                &--text {
                    font-family: Roboto;
                    padding: 27px;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-align: center;
                    text-transform: uppercase;
                }

            }
        }
    }
}

.team {
    background: #F5F4FA;
    padding: 0 15;

    &_content {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;

        &--title {
            padding-bottom: 50px;
            margin-top: 94px;
            padding-top: 94px;
            font-family: Roboto;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
        }

        &--container {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &--card {
                background-color: #fff;
                margin-bottom: 94px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &--profession {
                    padding-top: 10px;
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-align: center;
                    color: #757575;
                }

                &--div {
                    max-width: 236px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 16px;
                    padding-bottom: 30px;
                    padding-left: 32px;

                    &--svg {
                        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                        &--path {
                            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


                        }
                    }

                }

                &--title {
                    padding-top: 30px;
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 3%;
                    text-align: center;
                }

                &--img {
                    width: 270px;
                    height: 260px;
                }

                &:hover {
                    box-shadow: 0px 2px 1px 0px #00000033;
                    box-shadow: 0px 1px 1px 0px #00000024;
                    box-shadow: 0px 1px 3px 0px #0000001F;
                }
            }
        }
    }
}

.team_content--container--card--div :hover .team_content--container--card--div--svg--path {
    fill: #fff;
    fill-opacity: 1;
}

.team_content--container--card--div :hover .team_content--container--card--div--svg {
    fill: #2196F3;
}

.client {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;

    &_title {
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        color: #212121;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        margin-bottom: 50px;
        align-items: center;
    }

    &_page {
        display: flex;
        justify-content: space-between;

        &_svg {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


            &--rect {
                transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

            }
        }
    }
}

.client_page :hover rect {
    stroke: #2196F3;
}

.client_page :hover path {
    fill: #2196F3;
}