.ourproject {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &_container {
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-bottom: 94px;

        &--card {
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            background: #fff;
            cursor: pointer;
            border: 1px solid #EEEEEE;
            padding-bottom: 20px;

            &--title {
                font-family: Roboto;
                font-weight: 700;
                font-size: 18px;
                line-height: 36px;
                letter-spacing: 6%;
                color: #212121;
                padding: 0 24px;
            }

            &--text {
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                color: #757575;
                line-height: 30px;
                letter-spacing: 3%;
                padding: 0 24px;
            }

            &:hover {
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                transform: translateY(-5px);

                &--wraper {

                    &--img {
                        background: #2196F3E5;
                        overflow: visible;
                    }

                }
            }


            &--wraper {
                position: relative;
                overflow: hidden;
                border-bottom: 1px solid #eee;

                &--overlay {
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 136, 255, 0.9);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 20px;
                    opacity: 0;
                    transform: translateY(100%);
                    transition: all 0.4s ease;
                    font-size: 14px;
                    line-height: 1.4;
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: left;
                    letter-spacing: 3%;
                }

                &--img {
                    width: 100%;
                    display: block;
                    transition: transform 0.4s ease;
                }
            }
        }
    }

    &_content {
        max-width: 575px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 94px;
        margin-bottom: 50px;

        &--btn {
            background: #F5F4FA;
            border: none;
            border-radius: 4px;
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 3%;
            text-align: center;
            padding: 6px 22px;
            cursor: pointer;

            &:hover {
                color: #fff;
                background: #2196F3;
            }
        }
    }
}


.ourproject_container--card:hover .ourproject_container--card--wraper--overlay {
    opacity: 1;
    transform: translateY(0);
}